<!DOCTYPE html>
<html>
<head>
    <title>Resume</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    {% include 'navbar.html' %}

    <div class="container">

        <h1>Resume - Kishan Kumar</h1>

        <div class="section">
            <h2>Summary</h2>
            <p>Motivated student and beginner web developer.</p>
        </div>

        <div class="section">
            <h2>Education</h2>
            <ul>
                <li>BCA – DSEU College</li>
                <li>12th – CBSE Board</li>
            </ul>
        </div>

        <div class="section">
            <h2>Skills</h2>
            <ul>
                <li>HTML, CSS</li>
                <li>Python (Beginner)</li>
                <li>Flask Basics</li>
            </ul>
        </div>

    </div>
</body>
</html>
